<!DOCTYPE html>
<html>
  <head>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  	<header>
  		<h1><%= title %></h1>
      <ul class="type">
        <li class="selected">Dot</li>
        <li>Column</li>
      </ul>
      <p>Volume <input id="volume" type="range" min="0" max="100" value="60"></p>
  	</header>  	
    
    <div class="list" id="list">
    
      <form enctype='multipart/form-data' method='post' action='javascript:;' role = "form" id = "frmUploadFile">
        <button class="music-add" id="add">上传音乐</button>
        <input class="upload" type="file" name = "files" id="upload" />
      </form>

      <div id="music-list-wrap">
      	<ul class="music-list" id="music-list">
          <% music.forEach(function(name){ %>
          <li title="<%= name %>"><%= name %></li>
          <% }) %>
      	</ul>
      </div>
    </div>
    
    <div class="canvas" id="canvas">
    </div>
    
    <div class="loading-box" id="loading-box">
      <ul id="loading">
        <li class='l'></li>
        <li class='o'></li>
        <li class='a'></li>
        <li class='d'></li>
        <li class='i'></li>
      </ul>
      <div class="play" id="play">PLAY</div>
    </div>
    <script type="text/javascript" src='./javascripts/require.js' data-main="./javascripts/main.js"></script>
  </body>
</html>
