<!DOCTYPE html>
<html>
  <head>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body style="background:#000;">
        <div class="single-widget-container">
            <section class="widget login-widget">
                <header class="text-align-center">
                    <h4>请登录你的账户</h4>
                </header>
                <div class="body">
                    <form class="no-margin"
                          action="./login" method="POST">
                        <fieldset>
                            <div class="form-group">
                                <label for="username" >账号</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <input id="username" type="text" name="user[name]" class="form-control input-lg input-transparent"
                                           placeholder="你的账号">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" >密码</label>

                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                    <input id="password" type="password" name="user[password]" class="form-control input-lg input-transparent"
                                           placeholder="你的密码">
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-block btn-lg btn-danger">
                                <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                                <small>登录</small>
                            </button>
                            <a class="forgot" href="./users" target="_blank">注册</a>
                        </div>
                    </form>
                </div>
            </section>
        </div>
     
  </body>

  <script type="text/javascript" src='./javascripts/require.js' data-main="./javascripts/main.js"></script>
</html>
